body{
    background-color: rgb(139, 172, 62);
}

.navbar{
    background-color: rgb(198, 236, 108);
    margin-bottom: -10px;
    border-bottom: 2px solid black;
}


.navbar .container{
    justify-content: left;
    width: 100%;
}
.container h1{
    font-size: 30px;
}

.text-center h2{
    padding-top: 20px;
}

#chicken{
    height: auto;
    background-color: rgb(13, 77, 13);
    color: white;
    font-family:'Times New Roman', Times, serif;
}

#beef{
    margin-top: 30px;
    height: auto;
    background-color: rgb(73, 167, 89);
    color: white;
    font-family:'Times New Roman', Times, serif;
}

#sushi{
    margin-top: 30px;
    height: auto;
    background-color: rgb(2, 112, 20);
    color: white;
    font-family:'Times New Roman', Times, serif;
}



p{
    font-size: 20px;
}

.center{
    text-align: justify;
}

h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
}

ul{
    background-color: rgb(198, 236, 108);
}

li{
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    border-bottom: 2px solid black;
}